{% extends 'myblog/base.html' %}
{% block title %}
edit
{% endblock %}
{% block blogmain %}
{% if article != None %}
<form action="{% url 'myblog:articleedit' article.id %}" method="post">
    {% csrf_token %}
    <label for="title"> title:</label>
    <input type="text" name="title" id="title" value="{{ article.title}}"/>
    <br>
    <label for="content">content:</label>
    <textarea rows="3" cols="20" name="content" id="content" >{{ article.content }}</textarea>
    <label for="code">验证码</label>
    <input type="text" name="code" id="code">
    <img src="{% url 'myblog:check_code' %}"onclick="refresh_check_code(this)" >

    <input type="submit" value="修改">
</form><script>
 function refresh_check_code(node) {
 // src 后面加问号会自动刷新验证码 img 的 src
// get 请求方式缓存处理
 node.src = '/myblog/code/?search=' + Math.random();
 }
</script>

     <script src="/static/tiny_mce/tiny_mce.js"></script>
<script>
    tinyMCE.init({
        "mode":'textareas',
        'theme':'advanced',
        'width':700,
        'height':400,

    })
    </script>
{% endif %}
{% endblock %}
