<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    {% load static %}
    <link rel="icon" href="{% static 'myblog/image/favicon.ico' %}">

    <title>Signin Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'myblog/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'myblog/css/signin.css' %}" rel="stylesheet">
</head>

<body >
<div class="container">
    <div class="row">
    <div class="col-md-12" >
          <a class="btn btn-sm btn-outline-secondary" href="{% url 'myblog:register' %}" style="float: right">register</a>

    </div>

</div>
<div class="row">
    <div class="col-md-12 ">
{#        <form class="form-signin" method="post" >#}
       <form class="form-signin" method="post" action="{% url 'myblog:check_username_pwd' %}" enctype="application/x-www-form-urlencoded" >
   {% csrf_token %}

    <img class="mb-4" src="{% static 'myblog/image/bootstrap-solid.svg' %}" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputEmail" class="sr-only">Email address</label>

    <input type="email" id="inputEmail" name = "e" class="form-control" placeholder="Email address" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name="pwd" id="inputPassword" class="form-control" placeholder="Password" required>
{#    <div class="checkbox mb-3">#}
{#        <label>#}
{#            <input type="checkbox" value="remember-me"> Remember me#}
{#        </label>#}
{#    </div><button id="click">click</button>#}
           <p id="p1" style="color: red"></p>

    <button class="btn btn-lg btn-primary btn-block" id="btn_submit" >Sign in</button>
{#    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>#}
    <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
</form>
    </div>


    <script src="{% static 'myblog/js/jquery-2.1.4.js' %}"></script>
    <script src="{% static 'myblog/js/bootstrap.min.js' %}"></script>
    <script>
 $('#btn_submit').on('click',function () {
     $.ajax({
         url:'/myblog/check_username_pwd/',
         type:'POST',
         dataType:'JSON',
         data:{
             'e':$('#inputEmail').val(),
          'pwd':$('#inputPassword').val()
         },
         success:function (data) {
             if (data.msg=='1')
                 location.href='/myblog/index/'
             else if(data.msg=='456'){
                    {#alert('pwd error')#}
                   $('#p1').text('pwd error')
             }
             else{
                    $('#p1').text('user not exist')
             }
             {#$('p1').text(data.msg)#}
        {#alert(data[1]['fields']['title'])#}

             {#alert(data.msg)#}
         }

     })
     return false
 })
</script>
{#    <script>#}
{# $('#btn_submit').on('click',function () {#}
{#     $.ajax({#}
{#         url:'/myblog/check_username_pwd/',#}
{#         type:'POST',#}
{#         dataType:'JSON',#}
{#         success:function (data) {#}
{#        alert('CC')#}
{#         }#}
{#     })#}
{# })#}
{#</script>#}
{#   <script>#}
{##}
{#    $(function () {#}
{#        $("#inputPassword").bind('keyup', function () {#}
{##}
{#            email = $("#e").val()#}
{#            console.log(email)#}
{#            csrf = $("[name='csrfmiddlewaretoken']").val();#}
{#            $.post(#}
{#                '/myblog/check_username_pwd/',#}
{#                {#}
{##}
{#                 'csrfmiddlewaretoken': csrf,#}
{#                  'e':$('#inputEmail').val(),#}
{#                    'pwd':$('#inputPassword').val(),#}
{#            },#}
{#                function (data) {#}
{#                $('p1').text(data.msg)#}
{#                }#}
{#            )#}
{#            return false#}
{#        })#}
{#    })#}
{##}
{#</script>#}

</div>
</div>



</body>
</html>
