<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    {% load static %}
    <link rel="icon" href="{% static 'myblog/image/favicon.ico' %}">

    <title>Signin Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'myblog/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'myblog/css/signin.css' %}" rel="stylesheet">
</head>

<body >
<div class="container">
    <div class="row">
    <div class="col-md-12" >
          <a class="btn btn-sm btn-outline-secondary" href="{% url 'myblog:register' %}" style="float: right">register</a>

    </div>

</div>
<div class="row">
    <div class="col-md-12 ">
        <form class="form-signin" method="post" action="{% url 'myblog:login' %}" >
   {% csrf_token %}

    <img class="mb-4" src="{% static 'myblog/image/bootstrap-solid.svg' %}" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" id="inputEmail" name = "e" class="form-control" placeholder="Email address" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name="pwd" id="inputPassword" class="form-control" placeholder="Password" required>
{#    <div class="checkbox mb-3">#}
{#        <label>#}
{#            <input type="checkbox" value="remember-me"> Remember me#}
{#        </label>#}
{#    </div>#}
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
</form>
    </div>
</div>
</div>



</body>
</html>
